<footer>	
	<nav class="navbar">
		<ul class="nav navbar-nav">
			<li><a href="#">Terms and Privacy Policy</a></li>
			<li><%= image_tag "snack_tn_mark.svg", :class => "footer-logo" %></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Our Code</a></li>
		</ul>
	</nav>
</footer>