<footer>	
	<nav class="navbar">
		<ul class="nav navbar-nav navbar-left">
			<li>Terms and Conditions</li>
			<li>Privacy Policy</li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li>About Us</li>
			<li>Follow Us:</li>
		</ul>
	</nav>
</footer>