<footer>	
	<nav class="navbar">
		<ul class="nav navbar-nav">
			<li><a href="#">Terms and Privacy Policy</a></li>
			<li><a href="http://hack.tn"><%= image_tag "Built-at-HT.svg", :class => "footer-logo" %></a></li>
			<li><a href="#">About Us</a></li>
			<li><a href="#">Our Code</a></li>
		</ul>
	</nav>
</footer>