<nav class="navbar navbar-default" role="navigation">
	<!-- Brand and toggle get grouped for better mobile display -->
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		<a class="navbar-brand" href="/"><%= image_tag "snack_tn_mark.svg", :class => "nav-logo" %></a>
	</div>

	<!-- Collect the nav links, forms, and other content for toggling -->
	<div class="collapse navbar-collapse navbar-ex1-collapse">
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" class="protein">Protein</a></li>
			<li><a href="#" class="beverages">Beverages</a></li>
			<li><a href="#" class="produce">Produce</a></li>
			<li><a href="#" class="goodies">Other</a></li>
		</ul>
	</div><!-- /.navbar-collapse -->
</nav>