
<section class="hero">
	<div class="container">
		<div class="row">
			<div class="col-sm-12">
				<h1>Discover the Flavors of Tennessee</h1>
				<div class="container">
					<div class="row">
						<a href="/protein">
							<div class="grid-item protein col-sm-3">
								<h3>Protein</h3>
							</div>
						</a>
						<a href="/beverages">
							<div class="grid-item beverages col-sm-3">
								<h3>Beverages</h3>
							</div>
						</a>
						<a href="/produce">
							<div class="grid-item produce col-sm-3">
								<h3>Produce</h3>
							</div>
						</a>
						<a href="/goodies">
							<div class="grid-item goodies col-sm-3">
								<h3>Goodies</h3>
							</div>
						</a>
					</div>
				</div>
			</div>