<style>
	.navbar-default {
		display: none !important;
	}
</style>


<section class="hero">
	<div class="container-fluid">
		<div class="row">
			<div class="col-lg-6">
				<%= image_tag "Logo.svg", :class => "center-block" %>
			</div>
			<div class="col-lg-6">
				<h1>Discover the Flavors of Tennessee</h1>
				<div class="categories container-fluid">
					<div class="row">
						<a href="/categories/2" class="btn btn-primary btn-lg">
							<div class="grid-item protein col-sm-6">
								<h3>Protein</h3>
							</div>
						</a>
						<a href="/categories/1" class="btn btn-primary btn-lg">
							<div class="grid-item beverages col-sm-6">
								<h3>Beverages</h3>
							</div>
						</a>
					</div>
					<div class="row">
						<a href="/categories/3" class="btn btn-primary btn-lg">
							<div class="grid-item produce col-sm-6">
								<h3>Produce</h3>
							</div>
						</a>
						<a href="/categories/4" class="btn btn-primary btn-lg">
							<div class="grid-item goodies col-sm-6">
								<h3>Other</h3>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
		<br>
		<div class="row">
			<div class="col-lg-12 text-center">
				<a href="/makers" class="btn btn-primary btn-lg"><h2>Meet the Makers</h2></a>&nbsp;<a href="/products" class="btn btn-primary btn-lg"><h2>View All Products</h2></a>&nbsp;<a href="/groups" class="btn btn-primary btn-lg"><h2>View Subcategories</h2></a>
			</div>
		</div>
	</div>
</section>
