# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: 59be7a3eb1558249f98b28f804843d3ad62a4298f3eb69345bc00af011cb920b7ecebd9d8426985270c13638658a45e4c257e4efa47727b918e59212de913267

test:
  secret_key_base: f5e671e29fd0bcfcbb2e0a643f7bf583592e76766b750c7516ba1d6681366f744e26e12eb9719757f7efd0396e75352a43a808433dc30b32087f02c02ee946e2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
