// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";


$hero-background: image-path("yazoo-beers.jpeg");


//Color Palette
$navy:       #264D7E;
$cobalt:     #7294BE;
$light-blue: #9EC3E8;
$blue:       #356DB1;

//typography
@import url(~/app/assets/fonts/Amaranth-Regular.otf);
@import url(~/app/assets/fonts/Raleway%20regular.ttf);

h1, h2, h3, h4, h5, h6 {
	font-family: 'Amaranth', sans-serif;
	font-weight: normal;
	color: #fff;
}

body {
	font-family: 'Raleway', sans-serif;
	font-size: 16px;
	font-weight: normal;
	color: #fff;
	background-color: $cobalt;
}


//Homepage
.hero {
	min-height: 100vh;
	padding: 4em 0;

	background-image: image-url("img_0243.jpg");
	background-size: cover;
	background-position: center;
	background-color: $cobalt;
	background-blend-mode: multiply;
}

.categories {
	margin-right: 8%;
	.row {
		margin-bottom: 5px;
	}
}

.btn-primary {
	background-color: $navy;
	border: none; 
}

.grid-item {
	width: 200px;
	height: 150px;
	border-radius: 8px;
	// background-color: $navy;

	&::hover {
		background-color: green;
	}

	margin-right: 10px;
	margin-bottom: 10px;

	//Styling for the icons in the middle of each section
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400%;
}

.product-grid-item {
	p, h1, h2, h3, h4, h5, h6 {
	font-family: 'Amaranth', sans-serif;
	font-weight: normal;
	color: $navy;
}
	width: 400px;
	height: 600px;
	border-radius: 8px;
	background-color: white;
	margin-right: 10px;
	margin-bottom: 10px;
	padding-top: 1%;
	img{ 
		max-height: 300px;
	}
	h3 {
		text-align: center;
	}
	text-align: center;

	//Styling for the icons in the middle of each section
	background-repeat: no-repeat;
	background-position: center;
	background-size: 400%;
}

.protein {
	background-image: image-url("/icons/protein_icon.svg");		
}
.beverages {
	background-image: image-url("/icons/beverage_icon.svg");		
}
.produce {
	background-image: image-url("/icons/veggies_icon.svg");		
}
.goodies {
	background-image: image-url("/icons/goodies_icon.svg");		
}


//Footer
footer{
	font-family: 'Amaranth', sans-serif;
	height: 80px;
	width: 100%;
	position: relative;
	padding-bottom: 0;
	bottom: 0;

	text-align: center;

	background-color: $navy;

	.footer-logo {
		width: 50px;
	}

	.nav {
		margin-left: 30%;
	}

	.navbar {
		padding-top: 14px;
		margin-bottom: 0;
		padding-bottom: 0;
		border: none;
	}
}

/* Maker Show */
.maker_show {
  text-align: center;
}

.maker_show img {
  max-height: 400px;
  max-width: 200px;
  border-radius: 50%;
}
