<div align="center" class="container-fluid" style="padding-top: 15px;">
    <% @products.each do |product| %>
        
            <div class="product-grid-item">
                <h3><%= link_to product.name, product %></h3>
                <img class="center-block" src=<%= image_url(product.imageurl) if product.imageurl%>></img>
                <h4><%= link_to product.maker.name, product.maker if product.maker %></h4>
                <p><%= product.description if product.description%></p>
            </div>
    <% end %>
</div>
